@model EmpleadosVista

<h1>Details empleado</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id Empleado</th>
            <th>Apellido</th>
            <th>Oficio</th>
            <th>Salario</th>
            <th>Id Departamento</th>
            <th>Nombre Departamento</th>
            <th>Localidad</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.IdEmpleado</td>
            <td>@Model.Apellido</td>
            <td>@Model.Oficio</td>
            <td>@Model.Salario</td>
            <td>@Model.IdDepartamento</td>
            <td>@Model.Departamento</td>
            <td>@Model.Localidad</td>
        </tr>
    </tbody>
</table>

